################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/ProblemSolvingWithCSharp/ProblemSolvingWithCSharp/obj
/Project/ProblemSolvingWithCSharp/.vs/ProblemSolvingWithCSharp/v16
/Project/ProblemSolvingWithCSharp/ProblemSolvingWithCSharp/bin/Debug/net5.0
/Project/ProblemSolvingWithCSharp/.vs/ProblemSolvingWithCSharp/DesignTimeBuild/.dtbcache.v2
/Project/ProblemSolvingWithCSharp/.vs/ProblemSolvingWithCSharp/FileContentIndex
/Project/ProblemSolvingWithCSharp/.vs/ProblemSolvingWithCSharp/v17
/Project/ProblemSolvingWithCSharp/.vs/ProjectEvaluation
